<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <!-- ここで System.DirectoryServices.AccountManagement を明示的に参照追加します -->
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>


    <!-- エラー画面の設定（RemoteOnly: サーバー上のブラウザでのみエラー詳細を表示） -->
    <customErrors mode="RemoteOnly"/>
    
    <!-- アップロード制限の緩和（念のため） -->
    <httpRuntime maxRequestLength="10240" /> 
  </system.web>
</configuration>